@inject NavigationManager Navigator
@inject HttpClient Http
@inject IWorkoutRepository WorkoutRepository
@inject IPlanRepository PlanRepository
@page "/"

<PageTitle>Home</PageTitle>


<div>
    
    @if (_plan == null)
    {
        <input type="number" @bind="_orm" />
        <button @onclick="GeneratePlan">
            Generate
        </button>
    }

    @foreach (var workout in _plan?.Workouts!)
    {
        <div>
            @workout.Ordinal.
            Orm: @workout.Orm.ToString(_unit)
            @foreach (var set in workout.Sets)
            {
                <div>@set.ToString(_unit)</div>
            }
        </div>
        <br/>
    }
</div>

@code {
    private Plan? _plan;
    private Weight? _orm;
    private Weight.Unit _unit = Weight.Unit.Kg;

    protected override async Task OnInitializedAsync()
    {
        _plan = await PlanRepository.GetPlan();
        
        if (_plan is null)
        {
            return;
        }
    }

    private async Task GeneratePlan()
    {
        if (_orm is null)
        {
            return;
        }

        await PlanRepository.SavePlan(
            new Plan
            {
                CurrentOrm = _orm,
                Workouts = (await WorkoutRepository.GetWorkouts(_orm)).ToList(),
            });
    }

}
