@inject NavigationManager Navigator
@inject HttpClient Http
@page "/"

<PageTitle>Home</PageTitle>


<div>
    @foreach (var workout in _plan?.Workouts!)
    {
        <div>
            @workout.Ordinal.
            Orm: @workout.Orm.ToString(_unit)
            @foreach (var set in workout.Sets)
            {
                <div>@set.ToString(_unit)</div>
            }
        </div>
        <br/>
    }
</div>

@code {
    private Plan? _plan;
    private Weight.Unit _unit = Weight.Unit.Kg;

    protected override async Task OnInitializedAsync()
    {
        var stream = await Http.GetStreamAsync("WorkoutSheet.csv");
        var sheet = new CsvWorkoutRepository(new StreamReader(stream));
        _plan = new Plan(Weight.FromKg(107.5m), sheet.GetWorkouts, () => 1); 
    }

}
